<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Start form</h1>
    <form>
        ID<input type="text" name="id"><br>
        PWD<input type="password" name="pwd"><br>
        GENDER<br>
        <input type="radio" name="gender" value="m">MALE
        <input type="radio" name="gender" value="f">FEMALE
        HOBBY<br>
        <input=type "checkbox" name='hobby" value="h1>STUDY<br>
        <input=type "checkbox" name='hobby" value="h2>TRAININGY<br>
        <input=type "checkbox" name='hobby" value="h3>TV<br>
        BirthDay <input type="date" name="birthday">
        Age <input type="number" name="age"><br>
        Cars
        <select name="cars">
            <opition value="H">M</opition>
            <opition value="B">M</opition>
            <opition value="B">M</opition>
        </select><br>
        textarea<textarea name=""Ta rows="10", cols"50"></textarea><br>
        <input type="submit" values="REGISTER">

    </form>
    <h1>End form</h1>
</body>
</html>