<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Table</h1>
  <table>
    <thead>
      <tr><th>ID01</th></tr>NAME</th><th>10</th></tr>
      <tr><th>ID02</th></tr>NAME</th><th>20</th></tr>
      <tr><th>ID03</th></tr>NAME</th><th>30</th></tr>
      <tr><th>ID04</th></tr>NAME</th><th>40</th></tr>
      <tr><th>ID1005</th></tr>NAME</th><th>50</th></tr>
    </thead>
    <tbody></tbody>
    </table>

    <h1>Collection</h1>
    <ul>
        <H1><a href="">ITEM1</H1></li>
        <H1><a href="">ITEM2</H1></li>
        <H1><a href="">ITEM3</H1></li>
    </ul>

  </body>
</html>